<?xml version="1.0" ?>
<robot name="camera_projection_mapping" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="projector_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="0.2 0.1 0.4" />
			</geometry>
		</visual>
		<inertial>
			<mass value="1" />
			<origin xyz="0 0 0" />
			<inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1" />
		</inertial>
	</link>

	<gazebo>
		<static>true</static>
	</gazebo>

	<gazebo reference="projector_link">
		<material>Gazebo/Wood</material>
		<static>true</static>
		<sensor type="camera" name="virtual_camera">
			<camera name="projector_head">
				<horizontal_fov>0.812196</horizontal_fov> 					<!-- horizontal field of view in radians -> FOV = 2 arctan(image_width / (2 * focal_lenght)) -->
				<image>
					<width>1280</width>
					<height>800</height>
					<format>R8G8B8</format> 								<!-- pixel format -> L8 | R8G8B8 | B8G8R8 | BAYER_RGGB8 | BAYER_BGGR8 | BAYER_GBRG8 | BAYER_GRBG8 -->
				</image>
				<clip>
					<near>0.05</near>
					<far>25</far>
				</clip>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.0</stddev>
				</noise>
			</camera>

			<!-- https://github.com/ros-simulation/gazebo_ros_pkgs/blob/hydro-devel/gazebo_plugins/src/gazebo_ros_camera_utils.cpp -->
			<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
				<alwaysOn>true</alwaysOn>
				<updateRate>30.0</updateRate> 								<!-- if 0 -> unlimited -->
				<cameraName>virtual_camera</cameraName>
				<imageTopicName>image_raw</imageTopicName>
				<cameraInfoTopicName>camera_info</cameraInfoTopicName>
				<frameName>camera_link</frameName>

				<!-- camera intrinsic parameters -->
				<CxPrime>644</CxPrime> 										<!-- if 0 - > (image_width + 1) / 2 -->
				<Cx>644</Cx> 												<!-- if 0 - > (image_width + 1) / 2 -->
				<Cy>630</Cy> 												<!-- if 0 - > (image_height + 1) / 2 -->
				<focalLength>389</focalLength> 								<!-- if 0 - > image_width / (2 * tan(HFOV_radians / 2)) -->
				<hackBaseline>0.07</hackBaseline>	


				<!-- parameters that will be available in future versions of Gazebo -->
				<distortionK1>0</distortionK1>
				<distortionK2>0</distortionK2>
				<distortionK3>0</distortionK3>
				<distortionT1>0</distortionT1>
				<distortionT2>0</distortionT2>
			</plugin>
		</sensor>
	</gazebo>
</robot>
