<?xml version="1.0"?>

<model>
  <name>Wall pipe</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Carlos Costa</name>
    <email>carloscosta.cmcc@gmail.com</email>
  </author>

  <description>
    Pipe wfollowing wall with a 90 degrees corner
  </description>
</model>
