<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<env name="GAZEBO_MODEL_PATH" value='$(find crob_gazebo_models)/models:$(optenv GAZEBO_MODEL_PATH "")' />

	<arg name="camera_initial_x" default="-5.149733" />
	<arg name="camera_initial_y" default="-3.107899" />
	<arg name="camera_initial_z" default="0.531" />
	<arg name="camera_initial_roll" default="0" />
	<arg name="camera_initial_pitch" default="0" />
	<arg name="camera_initial_yaw" default="0.680000" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find gazebo_projection_mapping)/worlds/demo_robotica_2015.world" />
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="false" />
		<arg name="gui" value="true" />
		<arg name="headless" value="true" />
		<arg name="debug" value="false" />
	</include>

<!-- 	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false" -->
<!-- 		args="-urdf -model camera_projection_mapping -file $(find gazebo_projection_mapping)/urdf/camera.urdf.xacro -x $(arg camera_initial_x) -y $(arg camera_initial_y) -z $(arg camera_initial_z) -R $(arg camera_initial_roll) -P $(arg camera_initial_pitch) -Y $(arg camera_initial_yaw)" /> -->


	<node pkg="image_view" type="image_view" name="image_view">
		<param name="autosize" type="bool" value="false" />
		<remap from="image" to="virtual_camera/image_raw" />
	</node>

	<node pkg="gazebo_projection_mapping" type="gpm_tf_to_link_state_node" name="gpm_tf_to_link_state_node">
		<param name="gazebo_link_name" type="str" value="projector_link" />
		<param name="tf_source_frame" type="str" value="projector_link" />
	</node>

	<!-- <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 -0.5 1 3.14 0 0 map projector_link 10" /> -->
</launch>
