<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<env name="GAZEBO_MODEL_PATH" value='$(find crob_gazebo_models)/models:$(optenv GAZEBO_MODEL_PATH "")' />
	<arg name="use_gazebo_gui" value="false" />
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find gazebo_projection_mapping)/worlds/demo_robotica_2015.world" />
		<arg name="paused" value="false" />
		<arg name="use_sim_time" value="false" />
		<arg name="gui" value="$(arg use_gazebo_gui)" />
		<arg name="headless" value="false" /> <!-- disables any function calls to simulator rendering (Ogre) components -->
		<arg name="debug" value="false" />
	</include>

	<node pkg="image_view" type="image_view" name="image_view">
		<param name="autosize" type="bool" value="false" />
		<remap from="image" to="virtual_camera/image_raw" />
	</node>

	<node pkg="gazebo_projection_mapping" type="gpm_tf_to_link_state_node" name="gpm_tf_to_link_state_node">
		<param name="gazebo_link_name" type="str" value="projector_link" />
		<param name="tf_source_frame" type="str" value="projector_link" />
	</node>

	<!-- <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="1.03689 1.58905 0.531 -2.02056 0.07 -1.59 map projector_link 10" /> -->
</launch>
